<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatizare</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <h2 class="is-size-3 is-uppercase is-italic has-text-centered has-text-primary" >Automatizare draft-uri contract</h2>

    <form method="POST" , enctype="multipart/form-data" action='/success' class="has-text-centered has-text-weight-bold">
        <label for="numar_iesire">Numar iesire:</label><br>
        <input type="text" name="numar_iesire" value="numar iesire"><br>
        <label for="data">Data:</label><br>
        <input type="text" name="data" value="dd.mm.yy"><br>
        <label for="nume_societate">Nume societate:</label><br>
        <input type="text" name="nume_societate" value="Nume societate"><br><br>
        <label for="nume_administrator">Nume administrator:</label><br>
        <input type="text" name="nume_administrator" value="nume"><br>
        <label for="valoare_contract">Valoare contract:</label><br>
        <input type="text" name="valoare_contract" value="valoare"><br>
        <label for="pretul_include">Pretul include:</label><br>
        <input type="text" name="pretul_include" value="pret"><br>
        <label for="durata_executie">Durata executie:</label><br>
        <input type="text" name="durata_executie" value="durata"><br>
        <label for="plata_procent_avans">Plata procent avans:</label><br>
        <input type="text" name="plata_procent_avans" value="avans"><br>
        <label for="plata_procent_ramas">Plata procent ramas:</label><br>
        <input type="text" name="plata_procent_ramas" value="lichidare"><br>
        <input type="submit" value="Genereaza document">
    </form>
    <a href="../documente_create" target="_blank">Arhiva documente</a>
</body>

</html>